/* CSS Reset */
/* * {
    margin: 0;
    padding: 0;
} */

/* CSS Variables */
body {
    font-family:'Baloo Tammudu 2', cursive;;
}
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#navbar::before{
    content: "";
background-color: red;
position: absolute;
 
height: 100%;
width: 100%;
z-index: -1;
opacity: .4;
}
/* Navigation Bar:Logo and Image */
#logo{
    margin: 1px 9px;
}
#logo img{
    margin: -3px 2px;
    width:50px;
     height:51px;
}
/* Navigation Bar: List styling */
 #navbar ul {
    display: flex;
    margin: 10px -23px;
}
#navbar ul li {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
    /* color:white */
}
#navbar ul li a {
    display: block;
    padding: 7px 23px;
    border-radius: 18px;
    text-decoration: none;
    color: white;
    }
#navbar ul li a:hover {
    display: block;
    padding: 7px 13px;
    border-radius: 18px;
    text-decoration: none;
    color: green;
    background-color: rgb(107, 209, 240);
    }
    /* Home Section */
  
    #home {
        display: flex;
        flex-direction: column;
        padding: 3px 200px;
        height: 735px;
        justify-content: center;
        align-items: center;
    }
    #home::before {
        content: "";
        position: absolute;
        background: url('../bg1.jpg') no-repeat center center/cover;
        height: 900px;     
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        opacity: .79;
        
    }
    #home h1{
        color: black;
        text-align: center;
        font-size: 4.5rem;
        font-weight: bolder;
        
        
    }
    #home p {
        color: black;
        text-align: center;
        font-size:1.5rem ;
        margin: -45px;
    }
    /* services section */
    #services{margin: 34px;
    display: flex;
    }

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 55px;
    border-radius: 23px;
    background: #f2f2f2
}
#services .box img{
    display: block;
    margin: auto;
    height: 200px;
    
}
#services .box p {
    font-size: 1.3rem;
    font-weight: bold;

}

/* clients section */

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item {
    padding:0 108px;

}
#clients img{
    width: 300px;
    height: 344px;
 
}
.client-section::before {
content: "";
position: absolute;
background: url('../bg.jpg');
width:99%;
height:851px;
z-index: -1;
opacity: .4;
}
/* Contact Section  */
#contact {
    position: relative;

}
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px;
    border-radius: 4px;;
}
#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:url('../bg3.jpg') no-repeat center center/cover
}
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: .5 rem;
    font-size: 2.1rem;
    border-radius: 9px;

}
#contact-box form{
    width: 40%;
}
#contact-box label{
    width: 40%;
    font-size: 2.3rem;
}
footer{
color: white;
background: black;
padding: 9px 20px;
bottom:0;
font-size: 1.5rem;
}

        /* Utility class */
        .h-primary{
            padding: 30px;
           font-size: 6.8rem;
           font-weight: 900;
        }
        .h-secondary{
           font-size: 2.8rem;
            padding: 0;
        }
        .btn { 
            padding: 3px 20px;
            border: 2px solid white;
            background-color: rgb(210,64,0);
            margin: 147px;
            font-size: 1.7rem;
            border-radius: 10px;
            cursor: pointer;
            color: white;
        }
        .center {
            text-align: center ;
        }
         input[type=text],#phone,#name,#email   {
             width:79%;
        padding: 40px ;
        margin: 3px;
        border-radius: 4px;
        }